body {
  background-image: url("https://i.stack.imgur.com/ReAxi.gif");
  background-repeat: repeat;
  padding: 100px;
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: white;
}
.container div {
  padding: 10px;
}

.heading {
  font-size: 32px;
  font-family: "Arial Narrow";
  font-weight: normal;
  color: red;
  text-align: center;
  grid-column: span 3;
  padding: 0;
  margin-bottom: -10px;
}

.time {
  display: flex;
  align-items: center;
}

.floating_text {
  font-size: 24px;
  grid-column: span 3;
  margin-top: -20px;
}

.menu a {
  display: block;
}

.description {
  grid-column: span 3;
}
.description h6 {
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.address {
  font-size: 14px;
}

.video {
  grid-column: span 3;
  grid-row: span 2;
  display: flex;
  justify-content: center;
}
.school-fees {
  grid-row: span 2;
}
.acknowledgement {
  margin-top: 20px;
  grid-column: span 5;
  text-align: center;
}

.floating_text {
  background-color: azure;
}
