.container {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}
.heading h4 {
    font-size: 32px;
    font-family: Ariel 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: red;
    text-align: center;

}
